{% block desk %}    
{# <div class="tab-content" id="nav-tab-desk" > #}
    {# Desktop [1] #}
    <div class="tab-pane fade active show" id="nav-Desktop" role="tabpanel" aria-labelledby="nav-desk-tab">
        <h5 class="title" id="deskLabel">Desktop</h5> 
        <hr/>
    </div>
    {# Store [1] #}
    <div class="tab-pane fade" id="nav-Reports" role="tabpanel" aria-labelledby="nav-rep-tab">
        <h5 class="title" id="repLabel">Reports</h5> 
        <hr/>
    </div>
 {# </div> #}
{% endblock %}