{% block desk %}    
{# <div class="tab-content" id="nav-tab-desk" > #}
    {# Desktop [1] #}
    <div class="tab-pane fade active show" id="nav-Desktop" role="tabpanel" aria-labelledby="nav-desk-tab">
        <h5 class="title" id="deskLabel">Desktop</h5> 
        <hr/>
    </div>
    {# Store [1] #}
    <div class="tab-pane fade" id="nav-Store" role="tabpanel" aria-labelledby="nav-store-tab">
        <h5 class="title" id="deskLabel">Store</h5> 
        <hr/>
    </div>
    {# Subsystems [3] #}
    <div class="eva-subsys"></div>
 {# </div> #}
{% endblock %}