{% block desk %}    
    {# Desktop [4] #}
    <div class="tab-pane active show" id="nav-desk" role="tabpanel" aria-labelledby="nav-desk-tab">
      <div class="d-flex gap-1 align-items-center">
        <h5 class="title" id="deskModalLabel">Desktop</h5>
      </div>
    </div>
</div>
{% endblock %}