</div>    
    <footer id="footer">                
        <a href="https://eva.brainrs.com">EVA © 2022 Brain Retail Service LLC</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 
        <a href="https://eva.brainrs.com/documentation" target="_blank">Документация</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="https://eva.brainrs.com/modules" target="_blank">Маркетплейс</a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;     
        {{ text_version }}&nbsp;{{ Version }}_{{ lang }}
    </footer>
</div>