<footer class="footer d-flex d-sm-flex p-1 justify-content-between">     
    {% if logged %}               
        <input class="text text-truncate ms-1" type="text" id="status" style="min-width:50%;" disabled>               
    {% else %}   
        <div></div>
    {% endif %}   
    <div class="d-flex d-sm-flex justify-content-end text-truncate" style="max-width:100%;">
        <div class="collapse show ms-4 text-truncate" id="target">                           
            <a href="https://eva.brainrs.com">EVA © 2024 Brain Retail Service LLC</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;        
            <a href="https://github.com/JetBrain2056">Repository GitHub</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <span>{{ text_version }}&nbsp;{{ Version }}_{{ lang }}</span>&nbsp;               
        </div>    
        <button class="btn btn-primary btn-sm" type="button" style="max-height:23px;" data-bs-toggle="collapse" href="#target" aria-expanded="false" aria-controls="target">
            <i class="fa fa-angle-up"></i>
        </button>  
    </div>           
</footer>