*, *::after, *::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
}

body {	
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;	
	font-size: 13px;
}

a, .nav-link{
	color: aquamarine;	
}
.input-group{
	align-items: center;
}
header {
	background-color: #282c34;	
	font-size: 16px;
}

.form-signin {
	max-width: 400px;
}
.form-signin .checkbox {
	font-weight: 600;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}

footer {
	color: aquamarine;
	background-color: #282c34;
	flex-wrap: wrap;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: auto;
	margin-bottom: unset;
}
.sidebar{
	background: #282c34;
	outline-color: aquamarine;
}
.row{
	--bs-gutter-x: 0;
}
.list{
	min-width: 150px;
}
.menu-title{
	color: aquamarine;
}